@import "tailwindcss";

:root {
  /* Cores do Sistema */
  --background: #ffffff;
  --foreground: #171717;

  /* Cores do Projeto */
  --primary: #990100;
  --secundary: #333333;
  --tertiary: #f6f6f6;
}

@theme inline {
  /* Cores do Sistema */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Cores do Projeto */
  --color-primary: var(--primary);
  --color-secundary: var(--secundary);
  --color-tertiary: var(--tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Cores do Sistema */
    --background: #ffffff;
    --foreground: #171717;

    /* Cores do Projeto */
    --primary: #990100;
    --secundary: #333333;
    --tertiary: #f6f6f6;
  }
}

body {
  background: var(--tertiary);
  color: var(--foreground);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
